.availableMeals {
  ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    gap: 4.8rem;
  }
}

.loading,
.error {
  text-align: center;
  color: var(--color-primary);
  text-transform: uppercase;
  letter-spacing: 1px;
}

.error {
  color: red;
}
