.cartItems {
  max-height: 40rem;
  overflow: auto;
  position: relative;
}

.amount {
  font-size: 3rem;
  display: flex;
  justify-content: space-between;
  align-content: flex-end;
  span {
    color: var(--color-primary);
  }
  border-bottom: 1px solid var(--color-gray);
}

.btnClose {
  position: absolute;
  top: 8px;
  right: 2rem;
  font-size: 3rem;
  font-family: inherit;
  border: none;
  background-color: var(--color-light);
  color: #666;
  cursor: pointer;
  &:hover {
    color: red;
  }
}

.btnOrder {
  margin-left: auto;
  margin-top: 4rem;
}

.quantity {
  display: flex;
  gap: 1rem;
  align-items: center;
  button {
    height: 3rem;
  }
  .reduce {
    background-color: var(--color-gray);
    color: #999;
  }
}

.total {
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
  position: absolute;
  bottom: 2.2rem;
  left: 50%;
  transform: translateX(-50%);
  span {
    color: var(--color-primary);
  }
}

.noItems {
  font-size: 3.2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
