.modal {
  position: relative;
}

.checkout {
  display: grid;
  grid-template-columns: repeat();
}

.btnClose {
  position: absolute;
  top: 8px;
  right: 2rem;
  font-size: 3rem;
  font-family: inherit;
  border: none;
  background-color: var(--color-light);
  color: var(--color-gray);
  cursor: pointer;
  &:hover {
    color: red;
  }
}

.actions {
  display: flex;
  gap: 2rem;
  bottom: 3rem;
  right: 3rem;
  position: absolute;
}

.cancel {
  background-color: var(--color-gray);
  color: var(--color-dark);
  &:hover {
    background-color: var(--color-dark);
    color: var(--color-gray);
  }
}
