.card {
  width: 90%;
  position: relative;
}

.mealItem {
  img {
    width: 100%;
    position: relative;
  }
  padding-bottom: 5.6rem;
}

.details {
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.description {
  font-size: 2rem;
  font-style: italic;
}

.cost {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-items: center;
  .price {
    font-size: 3rem;
    display: flex;
    gap: 2px;
    align-items: center;
    span {
      color: var(--color-primary);
      font-weight: 600;
      font-size: 2rem;
    }
  }
  form {
    display: flex;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    width: 50%;
    label {
      font-size: 2rem;
    }
    input {
      font-family: inherit;
      color: inherit;
      text-align: center;
      font-size: 2.4rem;
      width: 100%;
      border: none;
      border-radius: 10rem;
    }
  }
}

.btn {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  width: 60%;
}
