:root {
  --color-primary: #ff7d00;
  --color-primary-dark: #b35800;
  --color-primary-light: #ffa44d;
  --color-dark: #1c1c1c;
  --color-gray: #daddd8;
  --color-light: #fafaff;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::after {
  box-sizing: inherit;
}
*:focus {
  outline: none;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #666;
  max-width: 200rem;
  overflow-x: hidden;
}

ul {
  list-style: none;
}
