.orders {
  position: relative;
}

.content {
  position: absolute;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  background-color: var(--color-secondary);
  padding: 4px 1rem 2rem;
  width: 1000%;
  left: 50%;
  transform: translateX(-50%) scaleX(0);
  color: var(--color-dark);
  border-radius: 1rem;
  transition: transform 0.3s;

  h5 {
    text-align: center;
    color: var(--color-primary-dark);
    text-transform: uppercase;
    letter-spacing: 1px;
  }
}

.showContent {
  transform: translateX(-50%) scaleX(1);
  transform-origin: top;
}
.noOrder,
.status {
  text-align: center;
  text-transform: capitalize;
}

.status {
  color: var(--color-primary);
}

.duration {
  text-align: center;
}
