@use '../../sass/mixins' as *;

.section {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4),
      rgba(white, 0.4)
    ),
    url(../../assets/hero-bg.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  max-width: 200rem;
  margin: 0 auto;
  padding: 15rem 4rem 0;
  @include query(tabLand) {
    padding: 15rem 3rem 0;
  }
}
.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 6rem;
  @include query(tabLand) {
    gap: 4rem;
  }
  @include query(tabPort) {
    text-align: center;
    justify-content: center;
    justify-items: center;
    grid-template-columns: 1fr;
  }
}

.heading {
  grid-column: span 2;
  h1 {
    font-size: clamp(2rem, 5rem, 3.5vw);
    letter-spacing: 1px;
    color: var(--color-light);
    font-weight: 700;
    margin-bottom: 1rem;
  }
  p {
    font-size: clamp(1rem, 2.4rem, 3.2rem);
    color: var(--color-light);
    font-weight: 600;
  }
}

.cta {
  &-wrapper {
    display: flex;
    gap: 1rem;
    margin: 3.2rem 0;
    @include query(tabPort) {
      justify-content: center;
    }
  }
  a {
    text-decoration: none;
    color: var(--color-light);
  }
  &--alt {
    a {
      color: var(--color-primary);
    }
    background-color: var(--color-light);
  }
}

.customers {
  display: flex;
  align-items: center;
  p {
    margin-left: 1.6rem;
    font-size: 120%;
    color: var(--color-light);
    font-weight: 700;
    letter-spacing: 0.5px;
    text-align: center;
  }
  span {
    color: var(--color-primary);
  }
  img {
    width: max(6%, 5rem);
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: solid 4px rgba(255, 255, 255, 0.2);
    &:not(:first-child) {
      margin-left: -1.2rem;
    }
  }
  @include query(tabPort) {
    justify-content: center;
  }
}

.imgbox {
  pointer-events: none;
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-content: center;
  align-items: center;

  &:hover img:not(:hover) {
    transform: scale(0.9);
  }
  img {
    pointer-events: auto;
    width: 110%;
    border-radius: 2rem;
    box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.2);
    transition: all 0.3s;
    &:hover {
      transform: scale(1.1);
      box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.6);
      z-index: 4;
    }
  }
  .burger {
    margin-left: 7rem;
    margin-top: 6rem;
  }

  .sushi {
    margin-left: -7rem;
    margin-bottom: 6rem;
  }
}
