.section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 6rem;
  // COLOR PRIMARY-DARK, COLOR-PRIMARY-LIGHT
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4),
      rgba(white, 0.4)
    ),
    url(../../assets/hero-bg.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  max-width: 200rem;
  margin: 0;
  padding: 15rem 5.4rem 20rem;
}

.heading {
  h1 {
    font-size: clamp(2rem, 5rem, 3.5vw);
    letter-spacing: 1px;
    color: var(--color-light);
    font-weight: 700;
    margin-bottom: 3.2rem;
  }
  p {
    font-size: clamp(1rem, 2.4rem, 3.2rem);
    font-size: 2.4rem;
    color: var(--color-light);
    font-weight: 600;
  }
}

.cta {
  a {
    text-decoration: none;
    color: var(--color-light);
  }
}

.textbox {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3.2rem;
  height: 90%;
  img {
    width: 6.4rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.4);
    padding: 4px;
    &:not(:first-child) {
      margin-left: -1rem;
    }
  }
  h3 {
    margin: 0 4px 0 2rem;
  }
  span {
    font-size: 2rem;
  }
}

.customers {
  display: flex;
  align-items: center;
  &-text {
    margin-left: 2rem;
  }
}

.imgbox {
  pointer-events: none;
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-content: center;
  align-items: center;

  &:hover img:not(:hover) {
    transform: scale(0.9);
  }
  img {
    pointer-events: auto;
    width: 110%;
    border-radius: 2rem;
    box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.2);
    transition: all 0.3s;
    &:hover {
      transform: scale(1.1);
      box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.6);
      z-index: 4;
    }
  }
  .burger {
    margin-left: 7rem;
    margin-top: 6rem;
  }

  .sushi {
    margin-left: -7rem;
    margin-bottom: 6rem;
  }
}
