.cart {
  border: none;
  background: none;
  font-family: inherit;
  font-size: 5rem;
  color: var(--color-primary);
  position: relative;
  cursor: pointer;
}
.badge {
  background-color: var(--color-secondary);
  font-size: 1.5rem;
  padding: 0.25rem 8px;
  border-radius: 25px;
  margin-left: 1rem;
  font-weight: bold;
  position: absolute;
  top: 3px;
  right: -32%;
}
