.active {
  position: relative;
  animation: bump 1s ease-out;
}

.badge {
  background-color: var(--color-light);
  font-size: 1.5rem;
  padding: 0.25rem 8px;
  border-radius: 25px;
  margin-left: 1rem;
  font-weight: bold;
  position: absolute;
  top: -2px;
  right: -14px;
}

@keyframes bump {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(0.9);
  }
  30% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
