@use '../../sass/mixins' as *;
.section {
  p {
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    align-items: center;
    justify-items: center;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.4rem;
    &::after,
    &::before {
      display: block;
      content: '';
      height: 1px;
      background-color: currentColor;
      width: 90%;
    }
  }
  ul {
    display: flex;
    justify-content: space-around;
    @include query(tabLand) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      justify-items: center;
      justify-content: center;
      li {
        &:nth-child(4) {
          grid-column: span 2;
        }
        &:last-child {
          justify-self: start;
          margin-left: -10rem;
        }
      }
    }
  }
  img {
    max-height: 4rem;
    display: inline;
    filter: grayscale(1);
    opacity: 90%;
  }
}
