.footer {
  column-gap: 6rem;
  align-items: flex-start;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12rem, max-content));

  justify-content: center;
  h2 {
    text-align: left;
  }
  background-color: var(--color-secondary);
  padding: 3rem 6rem;
  max-width: 200rem;
  margin: 0 auto;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  a {
    text-decoration: none;
    color: inherit;
  }
  &-socials {
    a {
      color: var(--color-primary-dark);
    }
  }
}

.socials {
  display: flex;
  gap: 2rem;
  font-size: 3.2rem;
}

.contacts {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  .email {
    color: var(--color-primary-dark);
  }
}
